{
    "data": {
        "elevation": 275,
        "external_url": null,
        "internal_url": "http://homeassistant:8123",
        "latitude": !secrets home_latitude,
        "location_name": "Home",
        "longitude": !secrets home_longitude,
        "time_zone": "America/Chicago",
        "unit_system": "imperial"
    },
    "key": "core.config",
    "version": 1
}