{
    "version": 1,
    "key": "core.config",
    "data": {
        "latitude": 43.0812,
        "longitude": -89.3845,
        "elevation": 230,
        "unit_system": "imperial",
        "location_name": "aukland",
        "time_zone": "America/Chicago",
        "external_url": null,
        "internal_url": null
    }
}